/* .heroCat {
  padding: 20px;
  margin-bottom: 20px;
}

.cat-img {
  width: 100%;
  height: auto;
} */

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  text-align: center;
  align-items: center
}

@media only screen and (max-width: 768px) {
  .categories{
    flex-direction: column;
    align-items: center;
  }
}