@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }
  *::before, *::after {
    box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Be Vietnam", sans-serif; }

img, svg {
  display: block;
  max-width: 100%; }

input, button {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }

.buttonGetStarted1 {
  padding: 0.9% 2.06%;
  width: auto;
  height: auto;
  background-color: #4a2856;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font: 500 0.824rem/1.204rem "Be Vietnam", sans-serif;
  color: #FFFFFF; }

.buttonGetStarted1:hover {
  background-color: #c417d4b0; }

.buttonGetStarted2 {
  width: 134px;
  height: 44px;
  background-color: #4a2856;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font: 500 0.824rem/1.204rem "Be Vietnam", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.buttonGetStarted2:hover {
  background-color: #c417d4b0; }

.buttonGetStarted3 {
  width: 134px;
  height: 44px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font: 500 0.824rem/1.204rem "Be Vietnam", sans-serif;
  color: var(--bannerBottomColor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.buttonGetStarted3:hover {
  color: #c417d4b0; }

.btn-description {
  background-color: var(--chartBg);
  color: #FFFFFF;
  font: 700 1rem/1.511rem "Be Vietnam", sans-serif;
  border-radius: 30px;
  padding: 10px 25px; }

@media only screen and (max-width: 912px) {
  .buttonGetStarted1 {
    display: none; } }

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  text-align: center;
  align-items: center; }

@media only screen and (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: center; } }

.containerForm {
  text-align: center; }

.contacTitle {
  margin-block-end: 5rem; }

.map {
  width: 100%;
  height: 100%;
  margin-block-end: 5rem; }

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-inline-size: 33rem;
  margin: auto; }

.form {
  margin-block-end: 5rem; }
  .form label {
    display: flex;
    flex-direction: column;
    font: 500 0.824rem/1.204rem "Be Vietnam", sans-serif; }
  .form input, .form textarea {
    border-radius: 0.5rem;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    padding-block-end: 0.75rem;
    padding-block-end: 0.75rem;
    margin-block-start: 0.5rem; }

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-inline-size: 33rem;
  margin: auto; }

.form p {
  margin: 0;
  text-align: center; }

.legals {
  text-align: justify;
  padding: 1rem; }

footer {
  background-image: linear-gradient(180deg, #901b9d00 0%, #0d324d 74%); }

.footeerNav {
  background-color: linear-gradient(180deg, #901b9d00 0%, #0d324d 74%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 34.6vh; }

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: inherit;
  align-content: center;
  justify-content: space-evenly; }
  .left ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
    .left ul li a i {
      color: #f6f6f6; }
      .left ul li a i:hover {
        color: #c417d4b0; }

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 19vw;
  justify-content: space-between; }
  .center ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 19vh; }
    .center ul li a {
      color: #f6f6f6;
      font: var(-footerNav); }
      .center ul li a:hover {
        color: #c417d4b0; }

ul.ul2 {
  padding: 0 0 11%; }

.copyR {
  display: none; }

.noneDesk {
  color: #8C8C94;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.left img {
  filter: invert(100%); }

@media only screen and (max-width: 1150px) {
  footer {
    height: 50vh; }
  .footeerNav {
    height: 40.6vh; }
  .center {
    width: 30%; } }

@media only screen and (max-width: 912px) {
  .footeerNav {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .left {
    flex: 0;
    flex-direction: column-reverse;
    align-content: center;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center; }
    .left ul {
      margin-block-end: 15%; }
    .left img {
      align-self: center; }
  .center {
    display: none; }
  .iconsSocial ul li {
    margin: 0 10px;
    font-size: 1.5rem; }
  .copyR {
    justify-content: center;
    display: flex;
    color: #8C8C94;
    padding: 7%; }
  .noneDesk {
    display: none; } }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  grid-gap: 0;
  justify-items: stretch; }

.header {
  top: 0; }

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 174px; }

.logoNav {
  filter: invert(100%); }

@media only screen and (max-width: 912px) {
  .header-content {
    justify-content: space-around;
    block-size: 10vh; } }

.hero {
  padding-block-start: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.hero-description {
  width: 42vw;
  display: flex;
  flex-direction: column;
  margin-block-start: 5%;
  animation: slide-in 1000ms; }
  .hero-description h1 {
    font: var(--headline1);
    color: var(--titleColor); }
  .hero-description p {
    font: 500 1.035rem/1.626rem var(--fontBase);
    width: 23.5vw;
    margin-block: 2em 2em; }

@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }

.hero-img-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap; }

.chartContainer img {
  max-inline-size: 100%;
  block-size: auto; }

img .motoEdge {
  margin: 0 auto; }

.motoEdge {
  animation: bounce 2000ms alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1); }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-25px); } }

@media only screen and (max-width: 912px) {
  .hero {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-block-start: 0; }
  .hero-description {
    align-items: center;
    flex-wrap: wrap;
    width: 90vw; }
    .hero-description h1 {
      font-size: 2.5rem;
      text-align: center; }
    .hero-description p {
      font-size: 1rem;
      text-align: center;
      width: auto;
      color: var(--featuresSubColor); } }

.menu ul {
  display: flex;
  list-style: none;
  gap: 28px; }
  .menu ul a {
    color: #d5d7dd;
    font-weight: 500;
    line-height: 22.89px; }
    .menu ul a:hover {
      color: #9999a1; }

a {
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }

@media only screen and (max-width: 912px) {
  .menu ul {
    display: none; } }

.input-toggler {
  display: none; }

.menu-toggler {
  width: 50px;
  height: 80px;
  background: transparent;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-inline-start: 40%; }

.menu-toggler-line {
  width: 60%;
  height: 5px;
  background: #d5d7dd;
  margin: 0 0 4px 0px;
  position: relative;
  transition: all .40s ease-out; }

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {
  top: 5px;
  translate: 100px;
  transform: rotate(45deg); }
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
    display: none; }
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
    top: -5px;
    translate: 10;
    transform: rotate(135deg); }

.nav {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  .nav ul {
    width: 100%; }
    .nav ul li {
      width: 100%;
      text-align: center; }
      .nav ul li a {
        display: inline-block;
        font-size: 36px;
        color: #625e5e;
        text-transform: uppercase; }

.sidebar {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all .40s ease-out;
  z-index: 3; }

.menu-link {
  color: white;
  font-size: 10vmin;
  line-height: 15vmin;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }
  .menu-link:hover, .menu-link:focus, .menu-link:active {
    color: #4a2856; }

.input-toggler:checked ~ .sidebar {
  transform: translateX(0%);
  opacity: .98; }

@media only screen and (min-width: 912px) {
  .input-toggler, .menu-toggler, .sidebar {
    display: none; } }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px; }

.grid-item {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase; }

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto; } }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #232c5064; }

::-webkit-scrollbar-thumb {
  background: #4a2856;
  border-radius: 30px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #c417d4b0; }

.wrapper {
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
  margin-block-end: 10vh;
  overflow: hidden; }

@media only screen and (max-width: 360px) {
  .wrapper {
    padding: 12px;
    margin-block-end: 5vh;
    overflow: hidden; } }
