@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  color: var(--textColor); }
  *::before, *::after {
    box-sizing: border-box; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--fontBase);
  background-image: var(--bodyBg);
  min-block-size: 100%;
  background-repeat: no-repeat; }

img,
svg {
  display: block;
  max-width: 100%; }

input,
button {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }

.menu ul {
  display: flex;
  list-style: none;
  gap: 28px; }
  .menu ul a {
    color: var(--navColor);
    font-weight: 500;
    line-height: 22.89px; }
    .menu ul a:hover {
      color: var(--hoverNav); }

a {
  text-decoration: none; }
  a:link, a:visited {
    text-decoration: none; }

@media only screen and (max-width: 912px) {
  .menu ul {
    display: none; } }

.input-toggler {
  display: none; }

.menu-toggler {
  width: 50px;
  height: 80px;
  background: transparent;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-inline-start: 40%; }

.menu-toggler-line {
  width: 60%;
  height: 5px;
  background: var(--navColor);
  margin: 0 0 4px 0px;
  position: relative;
  transition: all .40s ease-out; }

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {
  top: 5px;
  translate: 100px;
  transform: rotate(45deg); }
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
    display: none; }
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
    top: -5px;
    translate: 10;
    transform: rotate(135deg); }

.nav {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  .nav ul {
    width: 100%; }
    .nav ul li {
      width: 100%;
      text-align: center; }
      .nav ul li a {
        display: inline-block;
        font-size: 36px;
        color: #625e5e;
        text-transform: uppercase; }

.sidebar {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all .40s ease-out;
  z-index: 3; }

.menu-link {
  color: white;
  font-size: 10vmin;
  line-height: 15vmin;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out; }
  .menu-link:hover, .menu-link:focus, .menu-link:active {
    color: var(--buttonBg); }

.input-toggler:checked ~ .sidebar {
  transform: translateX(0%);
  opacity: .98; }

@media only screen and (min-width: 912px) {
  .input-toggler, .menu-toggler, .sidebar {
    display: none; } }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px; }

.grid-item {
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase; }

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto; } }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #232c5064; }

::-webkit-scrollbar-thumb {
  background: var(--buttonBg);
  border-radius: 30px; }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hoverButton); }

footer {
  background-image: var(--footerBg); }

.footeerNav {
  background-color: var(--footerBg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 34.6vh; }

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: inherit;
  align-content: center;
  justify-content: space-evenly; }
  .left ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
    .left ul li a i {
      color: var(--textColor); }
      .left ul li a i:hover {
        color: var(--hoverButton); }

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 19vw;
  justify-content: space-between; }
  .center ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 19vh; }
    .center ul li a {
      color: var(--textColor);
      font: var(-footerNav); }
      .center ul li a:hover {
        color: var(--hoverButton); }

ul.ul2 {
  padding: 0 0 11%; }

.copyR {
  display: none; }

.noneDesk {
  color: var(--copyrightColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.left img {
  filter: invert(100%); }

@media only screen and (max-width: 1150px) {
  footer {
    height: 50vh; }
  .footeerNav {
    height: 40.6vh; }
  .center {
    width: 30%; } }

@media only screen and (max-width: 912px) {
  .footeerNav {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .left {
    flex: 0;
    flex-direction: column-reverse;
    align-content: center;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center; }
    .left ul {
      margin-block-end: 15%; }
    .left img {
      align-self: center; }
  .center {
    display: none; }
  .iconsSocial ul li {
    margin: 0 10px;
    font-size: 1.5rem; }
  .copyR {
    justify-content: center;
    display: flex;
    color: var(--copyrightColor);
    padding: 7%; }
  .noneDesk {
    display: none; } }
