/* logo nav */
.logo {
  width: 100px;
  height: auto;
}

/* nav */
.nav-bg {
  background: rgba(140, 29, 178, 0.08);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
}