.motoBanner {
  background-image: url("https://media3.giphy.com/media/55m6LyNylGLsQ07iCx/giphy.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  margin-block-start: 4rem;
}
