.wrapper {
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
  margin-block-end: 10vh;
  overflow: hidden;
}



@media only screen and (max-width: 360px) {
  .wrapper {
    padding: 12px;

    margin-block-end: 5vh;
    overflow: hidden;

  }
}