.buttonGetStarted1 {
    padding: 0.9% 2.06%;
    width: auto;
    height: auto;
    background-color: var(--buttonBg);
    box-shadow: var(--buttonShadow);
    border-radius: 50px;
    font: var(--buttonFont);
    color: var(--iconColor);
  }
  
  .buttonGetStarted1:hover {
    background-color: var(--hoverButton);
  }
  
  .buttonGetStarted2 {
    width: 134px;
    height: 44px;
    background-color: var(--buttonBg);
    box-shadow: var(--buttonShadow);
    border-radius: 50px;
    font: var(--buttonFont);
    color: var(--iconColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .buttonGetStarted2:hover {
    background-color: var(--hoverButton);
  }
  
  .buttonGetStarted3 {
    width: 134px;
    height: 44px;
    background-color: var(--iconColor);
    box-shadow: var(--buttonShadow);
    border-radius: 50px;
    font: var(--buttonFont);
    color: var(--bannerBottomColor);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .buttonGetStarted3:hover {
    color: var(--hoverButton);
  }
  
  .btn-description {
    background-color: var(--chartBg);
    color: var(--iconColor);
    font: var(--btnDesc);
    border-radius: 30px;
    padding: 10px 25px;
  }
    
  @media only screen and (max-width: 912px) {
    .buttonGetStarted1 {
      display: none;
    }
  }