*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: map-get($map: $colores, $key: "color-principal");

    &__nav__lista{
        list-style: none;
    }
    &__lista__item{
        color: white;

        a{
            text-decoration: line-through;
            &:hover{
                color: blue;
            }
        }
    }

}

