.header {
    top: 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 174px;
  }
  
  .logoNav {
    filter: invert(100%);
  }
  
  @media only screen and (max-width: 912px) {
    .header-content {
      justify-content: space-around;
      block-size: 10vh;
    }
  }