.hero {
    padding-block-start: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .hero-description {
    width: 42vw;
    display: flex;
    flex-direction: column;
    margin-block-start: 5%;
    animation: slide-in 1000ms;
  
    h1 {
      font: var(--headline1);
      color: var(--titleColor);
    }
  
    p {
      font: 500 1.035rem / 1.626rem var(--fontBase);
      width: 23.5vw;
      margin-block: 2em 2em;
    }
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  .hero-img-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  
  .chartContainer img {
    max-inline-size: 100%;
    block-size: auto;
  }
  
  img .motoEdge {
    margin: 0 auto;
  }
  
  .motoEdge {
    animation: bounce 2000ms alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1);
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
  
    to {
      transform: translateY(-25px);
    }
  }
  
  @media only screen and (max-width: 912px) {
    .hero {
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding-block-start: 0;
    }
  
    .hero-description {
      align-items: center;
      flex-wrap: wrap;
      width: 90vw;
  
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
  
      p {
        font-size: 1rem;
        text-align: center;
        width: auto;
        color: var(--featuresSubColor);
      }
    }
  }