.menu ul {
  display: flex;
  list-style: none;
  gap: 28px;

  a {
    color: map-get($map: $colores, $key: "navColor");
    font-weight: 500;
    line-height: 22.89px;

    &:hover {
      color: map-get($map: $colores, $key: "hoverNav");
    }
  }
}

a {
  text-decoration: none;

  &:link, &:visited {
    text-decoration: none;
  }
}

@media only screen and (max-width: 912px) {
  .menu ul {
    display: none;
  }
}