.input-toggler {
    display: none;
  }
  
  .menu-toggler {
    width: 50px;
    height: 80px;
    background: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-inline-start: 40%;
  }
  
  .menu-toggler-line {
    width: 60%;
    height: 5px;
    background: map-get($map: $colores, $key: "navColor");;
    margin: 0 0 4px 0px;
    position: relative;
    transition: all .40s ease-out;
  }
  
  .input-toggler:checked ~ .menu-toggler .menu-toggler-line {
    top: 5px;
    translate: 100px;
    transform: rotate(45deg);
  
    &:nth-child(2) {
      display: none;
    }
  
    &:nth-child(3) {
      top: -5px;
      translate: 10;
      transform: rotate(135deg);
    }
  }
  
  .nav {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  
    ul {
      width: 100%;
  
      li {
        width: 100%;
        text-align: center;
  
        a {
          display: inline-block;
          font-size: 36px;
          color: rgb(98, 94, 94);
          text-transform: uppercase;
        }
      }
    }
  }
  
  .sidebar {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all .40s ease-out;
    z-index: 3;
  }
  
  .menu-link {
    color: white;
    font-size: 10vmin;
    line-height: 15vmin;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  
    &:hover, &:focus, &:active {
      color: map-get($map: $colores, $key: "buttonBg");;
    }
  }
  
  .input-toggler:checked ~ .sidebar {
    transform: translateX(0%);
    opacity: .98;
  }
  
  @media only screen and (min-width: 912px) {
    .input-toggler, .menu-toggler, .sidebar {
      display: none;
    }
  }