::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #232c5064;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--buttonBg);
    border-radius: 30px;
  
    &:hover {
      background: var(--hoverButton);
    }
  }