@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import './css/nav.css';
@import './css/hero.css';
@import './css/about.css';
@import './css/contact.css';
@import './css/offers.css';

body {
  background: linear-gradient(-45deg, #ee765200, #e73c7e00, #23a5d500, #23d5ab00);
}

h1 {
  color: rgb(130, 15, 237);
}

p {
  color: DimGrey;
}


